.project__arrow-right {
    position: sticky;
    top: 50%;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    transform: translateY(-50%);
    padding: 40px;
}

@media (max-width: 620px) {
    .project__arrow-right {
        display: none;
    }
}