.body {
    font-family: "Inter", Arial, sans-serif;
    margin: 0 auto;
    max-width: 1336px;
    padding: 0 52px;
}

@media (min-width: 620px) and (max-width: 1100px) {
        .body {
           padding: 0 32px;
        }
    }

@media (max-width: 620px) {
    .body {
        padding: 0 20px;
    }
}