.portfolio__description {
font-family: 'HelveticaNeueCyr';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #050024;
margin: 0;
}

@media (max-width:620px) {
    .portfolio__description {
font-weight: 300;
font-size: 14px;
line-height: 20px;
    }
}