.footer__p {
font-family: 'HelveticaNeueCyr';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
text-align: right;
color: #050024;
margin: 0;
}

@media (max-width: 620px) {
    .footer__p {
text-align: left;
font-weight: 300;
font-size: 14px;
line-height: 20px;
order: 1;
display: none;
    }
}