.portfolio__heading {
font-family: 'HelveticaNeueCyr';
font-style: normal;
font-weight: 500;
font-size: 96px;
line-height: 100px;
margin: 52px 0;
text-align: left;
}

@media (min-width:620px) and (max-width: 1100px) {
    .portfolio__heading {
font-weight: 500;
font-size: 64px;
line-height: 64px;
    }
}

