.project__carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.project__carousel > * { 
    max-width: 430px; 
    margin-right: 24px; 
}

.project__carousel > :last-child {
    margin-right: 0; 
}
